.connection {
  background-color: white;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.connectionTitle {
  font-size: large;
  font-weight: bold;
  margin: 0;
  padding: 0.2rem;
  border-radius: 0.2rem;
  background-color: rgb(233, 198, 142);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}